body {
    font-family: "Quicksand", sans-serif;
    margin: 0px;
    background-color: rgb(66, 70, 66);
}

header{
    position: static;
    background: rgb(25, 26, 25);
    padding: 1rem;
}

h1{
    color: white;
    text-align: center;
    margin: 1.5rem auto 1rem auto;
}


#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#logo a{
    padding: 1.5rem;
    font-family: "Oleo Script", sans-serif;
    color: white;
    font-size: 2.3rem;
    text-decoration: none;
    text-transform: lowercase;
    text-shadow: 1px 1px 2px black;
}
/* Hamburger menu */
.menu-button{
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.menu-button span{
    width: 100%;
    height: 3px;
    background-color: white;
}



#associazioni ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header li{
    color: white;
    margin: 0px 1rem;  
}

header li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 10px 10px;
}

header li a:hover{
    text-decoration: none;
    color: rgba(214, 11, 170, 0.7);
    font-weight: bold;
    font-size: 1.25rem;
}

main{
    margin: 1.25rem auto 1.25rem auto;
}

main h3{
    text-align: center;
    color:white;
}

main ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto 10px auto;
    padding-inline-start: 0px;
}

.sfida {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid grey;
    background-color: rgb(211, 209, 201);
    border-radius: 0.8rem;
    text-align: center;
    margin: 0.2rem 2rem;

}

.sfida img{
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.3rem;
}

.sfida h2{
    margin: 0.2rem auto 0px auto;
    font-weight: bold;
    text-transform: uppercase;
    
}

.sfida h3{
    margin: 0px auto;
    font-weight: bold;
    font-size: 1rem;
}

.sfida p{
    margin: 0px auto;
    font-weight: bold;
    font-size: 2rem;
}

.button{
    background-color: rgb(16, 214, 59);
    border-radius: 0.3rem;
    margin: 1rem 2rem;
    padding: 1rem 1rem;
    text-align: center;
}


main a{
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
    color: white;
}

main a:hover{
    text-decoration: none;
    align-items: center;
    color: rgb(62, 1, 65);
    
}

.bottone{
        background-color: rgb(158, 16, 214);
        border-radius: 0.3rem;
        margin: 1rem 2rem;
        padding: 1rem 1rem;
        text-align: center;   
        padding: 1.5rem 2rem;
        font-size: 1.3rem;
    }

#associazioni ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto 1rem auto;
    padding-inline-start: 0px;
}

#associazioni li{
    text-align: center;
    padding: 0px auto;
    margin: 0.5rem auto;
    color: white;
}

#associazioni img{
    border: 0.2rem solid grey;
    height: 7rem;
    width: 100%;
}

/*side-drawer style starts here */

#side-drawer{
    width:100%;
    height: 100%;
    background: rgb(25, 26, 25);
    position: fixed;
    top: 0px;
    display: none;
}

#side-drawer:target {
    display: block;
    left: 0px;
}

#side-drawer header{
    position: static;
    background: rgb(25, 26, 25);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#side-drawer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 4rem 1rem;
}

#side-drawer ul li a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 10px;
    color: white;
    margin: 3rem 1rem;
      
}

#side-drawer ul li a:hover{
    text-decoration: none;
    color: rgba(214, 11, 170, 0.7);
    font-weight: bold;
    font-size: 1.25rem;
}

/* side-drawer ends here */


@media (max-width: 48rem){
    h1{
        font-size: 1.5rem;
    }

    header div ul {
        display:none;
    }
}

@media (max-width: 30rem){
    #logo a{
        font-size: 1.8rem;
    }
}

@media (min-width:48rem){  /*burger and side-drawer not shown after 48rem */
    .menu-button{
        display: none;
    }
}






